#root {
  text-align: center;
  overflow-x: hidden;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
  height: 100%;
  min-height: 80vh;
}

.feedback_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 1em auto;
  position: relative;
}

.header {
  font-size: clamp(2em, 10vw, 4em);
  font-weight: 800;
  line-height: 92%;
  max-width: 800px;
}

.feedbacks {
  display: flex;
  width: 100%;
  /* grid-template-columns: fit-content(100%); */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  margin: 3em auto 2em;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: min(100%, 380px);
  padding: 0.2em 0.8em 0.3em;
  height: 100%;
  border-radius: 10px;
  background: rgb(73, 73, 73);
  transition: 0.5s ease;
  flex: 1;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.cards::after {
  position: absolute;
  content: "";
  z-index: -1;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.5s;
  transform-origin: top left;
  width: 0;
}

.cards:hover {
  transform: scale(1.02);
}

.cards:hover p.address {
  width: 100%;
  transition: 1s ease;
}

.cards:not(:hover) p.address {
  width: 30%;
  transition: 1s ease;
}
/* 
.cards:hover:after {
  height: 100%;
  width: 135%;
  background-color: rebeccapurple;
  ;
} */

.cards > p {
  color: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
}

p.address {
  font-weight: 400;
  font-size: 70%;
  letter-spacing: 0;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  transition: 1s ease;
}

p.address span.span {
  font-weight: 600;
  text-decoration: none !important;
}

p.feedback {
  font-size: 120%;
  margin: 0.1em 0 0.4em;
  word-wrap: break-word;
  word-break: normal;
}

p.time {
  opacity: 0.7;
  font-size: 80%;
}

form {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  /* width: max(80%, 380px); */
  border-top: 1px solid grey;
  padding-top: 1em;
  width: min(100%, 380px);
}

textarea {
  min-width: 250px;
  min-height: 50px;
  padding: 1em;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  width: 100%;
  max-width: 580px;
}

form span {
  font-size: 70%;
  opacity: 0.3;
  align-self: flex-start;
  text-align: left;
}

form button {
  margin-top: 1em;
}

.send {
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.5s ease;
}

.send.active {
  background-color: rgba(245, 245, 245, 0.814);
  color: #1a1a1a;
}

.send:hover {
  background-color: transparent;
  border: 1px solid grey;
}
.send:hover:after {
  background-color: transparent;
  border: 1px solid grey;
}

.send.active:hover {
  color: #ffffff;
}

.send.active:hover:after {
  background-color: rebeccapurple;
}

form span.error{
  font-size: 80%;
  color: crimson;
  text-align: center;
  align-self: center;
}

form span.success {
  font-size: 80%;
  color: lightgreen;
  text-align: center;
  align-self: center;
}

@media (prefers-color-scheme: light) {
  .send {
    color: #000000ac;
    border: 1px solid #0000002f;
  }

  .send:hover {
    background: whitesmoke;
  }
  .send:hover:after {
    background: whitesmoke;
  }

  .send:hover:after {
    background: transparent;
  }

  .send.active {
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
  }
}

footer {
  padding: 2em;
}
