:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  content: "";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1em;
  font-weight: 500;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition:0.5s ease;
  width: min(100%, 250px);
  margin: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  outline: none;
}

button::after {
  position: absolute;
  content: "";
  z-index: -1;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
  background:rgba(0, 0, 0, 0.992);

}

button:hover {
  border-color: rebeccapurple;
}

button:hover:after{
  height:100%;
  width: 135%;
  background-color: rebeccapurple;;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .cards {
    color: #213547;
    background-color: #ffffff;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  }

  textarea {
    color: #213547;
    border: 1px solid #2135473d;
    background-color: #ffffffe5;
  }

  textarea:focus-within {
    background-color: #ffffff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;;
    color: rgb(255, 255, 255);
  }
  /* button:hover{
    color: whitesmoke;
  } */
}
